body {
  background-color: rgba(0, 0, 0, 0.960);
  font-family: 'Playpen Sans', cursive;
}

.container {
  height: 100vh;
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
  flex-direction: column;
  color: rgba(255, 0, 0, 0.829);
  width: 100%;
}

.board {
  display: grid;
  padding: 10px;
  gap: 0px;
  border: 3px solid white;
  margin-bottom: 10px;
  margin-right: 15px;
}

.cell {
  width: 30px;
}

.btn {
  width: 100px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
}

.score {
  color: white;
  font-size: 1.5rem;
}

.game-over-menu {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  color:white;
  font-size: 5rem;
  flex-direction: column;
  margin: 0;
}

.game-over-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.game-over-container .score {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.board .score {
  font-size: 5rem;
}

.btn {
  margin-top: 30px;
  width: 170px;
  height: 50px;
  font-size: large;
  font-weight: bold;
  border-radius: 6px;
}

.join-room-menu {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  color:white;
  font-size: 5rem;
  flex-direction: column;
  margin: 0;

}

.join-room-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  border: 3px solid pink;
  border-radius: 5px;
  width: 500px;
  height: 600px;
  background-color: white;
}

.input-box {
  width: 300px;
  height: 40px;
  background-color: white;
  border: 2px solid black;
  border-radius: 2px;
  margin-bottom: 3px;
}

.join-room-text {
  color: black;
  font-size: 2rem;
  margin-bottom: 40px;
}
.chat {
  flex: 1;
  display: flex;
  flex-direction: column; 
  padding: 10px;
  border: 1px solid #000;
  grid-column: 1;
  overflow-y:visible;
}

.chat-box {
  margin-bottom: 20px;
  width: 80%;
  height: 60px;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 7px;
}

.message-container {
  font-size: 1.7em;
  margin-bottom: 10px;
  color: white;
  text-align: left;
  margin-left: 20px;
}

.data {
  font-size: 2rem;
  color: white;
}

.score-board {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-right: 100%;
  margin-left: -20%;
  margin-top: 0;
}

@media (max-width: 1500px) {

  .score-board {
    margin-left: 0;
    margin-top: 20px;
  }
}